:root {
  --c-salmon: #FFC48F;
  --c-blue: #4A46FF;
  --bezier: cubic-bezier(0.17, 0.67, 0, 1);
}

.sr-only {
  position: absolute;
  text-indent: -9999px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  color: inherit;
}

h1 span,
h1 a,
h2 span,
h2 a,
h3 span,
h3 a,
h4 span,
h4 a,
h5 span,
h5 a,
h6 span,
h6 a,
p span,
p a,
a span,
a a,
li span,
li a {
  font-family: inherit;
  color: inherit;
}

@import url("https://rsms.me/inter/inter.css");

* {
  box-sizing: border-box;
  margin: 0;
}

*,
body {
  font-family: Inter-Variable, sans-serif;
}

body {
  background-color: var(--c-salmon);
  color: var(--c-blue);
  transition: background 0.4s ease-out, color 0.4s ease-out; 
}

body.extra-contrast {
  --c-salmon: hotpink;
  --c-blue: #010101;
}

body.extra-contrast .header__contrast-trigger svg {
  transform: rotate(180deg);
}

/* CURSOR */
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2px 1rem;
  border-radius: 1rem;
  min-height: 1rem;
  min-width: 1rem;
  background: rgba(255, 196, 143, 0.5);
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  border: 1px solid var(--c-blue);
  z-index: 10;
  transition: transform 0.2s var(--bezier);
  pointer-events: none;
}
@media (max-width: 750px) {
  .cursor {
    display: none;
  }
}

/* HEADER */
.header {
  width: 100%;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.125rem clamp(1.5rem, calc(120 / 1440 * 100vw), 7.5rem);
}

.header__trigger {
  position: fixed;
  top: 1.125rem;
  right: 1.5rem;
  z-index: 11;

  background: none;
  border: none;
  color: inherit;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  display: none;
}

@media (max-width: 750px) {
  .header__trigger {
    display: block;
  }
}

.header__trigger span {
  position: absolute;
  display: block;
  width: 1.5rem;
  height: 1px;
  background-color: currentColor;
  top: 8px;
  transition: top 0.3s 0.3s ease-out, transform 0.3s ease-out, color 0.3s 0.3s ease-out;
}

.header__trigger span:last-child {
  top: 12px;
}

.header__trigger.is-open {
  color: var(--c-salmon);
}

.header__trigger.is-open span {
  top: 10px;
  transform: rotate(45deg);
  transition: top 0.3s ease-out, transform 0.3s 0.3s ease-out, color 0.3s ease-out;
}

.header__trigger.is-open span:last-child {
  top: 10px;
  transform: rotate(-45deg);

}

.header__list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
}

@media (max-width: 750px) {
  .header__list {
    position: fixed;
    z-index: 10;
    inset: 0;
    background-color: var(--c-blue);
    color: var(--c-salmon);
    flex-direction: column;
    padding: 8rem 1.5rem;
    transform: translateY(-101%);
    transition: transform 0.6s ease-out;
  }
  .header__list.is-open {
    transform: translate(0);
  }
}

.header__item {
  font-weight: 800;
  letter-spacing: -0.04em;
  font-size: 1.5rem;
  
  transform: translateY(1rem);
  opacity: 0;
}

.header__item:nth-child(1) {
  animation: fade-up 0.4s 0.2s ease-out forwards;
}
.header__item:nth-child(2) {
  animation: fade-up 0.4s 0.3s ease-out forwards;

}
.header__item:nth-child(3) {
  animation: fade-up 0.4s 0.4s ease-out forwards;
}

.header__link {
  text-decoration: none;
}

.header__contrast-trigger {
  background: none;
  border: none;
  cursor: pointer;
}

.header__contrast-trigger svg {
  fill: var(--c-blue);
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.4s ease-out;
}

/* PAGE HEADER */
.page-header {
  width: 100%;
  padding: 1.25rem clamp(1.5rem, calc(120 / 1440 * 100vw), 7.5rem) 0;
  transform: translateY(100px);
}

.page-header__image {
  position: relative;
  width: 100%;
  height: 32.5rem;
  /* 520px */
  border-radius: 1.5rem;
  overflow: hidden;
}

.page-header__title {
  position: relative;
  z-index: 1;
  background: var(--c-salmon);
  padding: 1.5rem 5rem 1.5rem 2.5rem;
  width: max-content;
  border-radius: 0 0 1.5rem 0;
}

.page-header__title::before {
  content: '';
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: 0;
  right: -1.5rem;
  border-radius: 50%;
  box-shadow: -0.75rem -0.75rem 0 0 var(--c-salmon);
}

.page-header__title h1 {
  width: 22.5rem;
  font-weight: 800;
  letter-spacing: -0.04em;
  font-size: 3rem;
  transform: translateY(1rem);
  opacity: 0;
  animation: fade-up 0.4s 0.4s ease-out forwards;
}

.page-header__title h2 {
  font-size: 0.875rem;
  letter-spacing: -0.04em;
  transform: translateY(1rem);
  opacity: 0;
  animation: fade-up 0.4s 0.3s ease-out forwards;
}

@keyframes fade-up {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.page-header__image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-header__description {
  margin: 1.5rem 1.5rem 0;
  width: 26.25rem;
  letter-spacing: -0.04em;
}

@media (max-width: 750px) {
  .page-header__description {
    width: 100%;
  }
}

/* MARQUEE */
.marquee {
  /* width: 100%; */
  margin: 1.25rem clamp(1.5rem, calc(120 / 1440 * 100vw), 7.5rem) 0;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.5rem;
}

.marquee p {
  width: max-content;
  animation: to-the-left 15s linear infinite;
}


@keyframes to-the-left {
  to {
    transform: translateX(calc(-100% / 5));
  }
}

/* TEXT WITH IMAGE */
.text-with-image {
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem clamp(1.5rem, calc(120 / 1440 * 100vw), 7.5rem) 0;
}

.text-with-image h2 {
  font-size: clamp(2rem, calc(40 / 1440 * 100vw), 2.5rem)
}

.text-with-image__image {
  width: 50%;
  aspect-ratio: 1;
  flex-grow: 1;
}

.text-with-image__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}

.text-with-image__text {
  width: 50%;
  padding: clamp(1.5rem, calc(40 / 1440 * 100vw), 2.5rem);
  flex-grow: 1;
  min-width: 300px;
}

/* FORM */

.form-container {
  padding: 3.75rem clamp(1.5rem, calc(120 / 1440 * 100vw), 7.5rem) 1.5rem;
}

.form__input {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  width: 100%;
}

.form__input + .form__input {
  margin-top: 1rem;
}

label[for="underage"] {
  margin-top: 1rem;
}

.form__input input {
  width: 100%;
  margin-top: 0.5rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: inherit;
  border: 1px solid currentColor;
}

.form__input input::placeholder {
  color: var(--c-blue);
  opacity: 0.5;
}

.form__input input[type="radio"] {
  position: absolute;
  left: -9999px;

  width: 1px;
  height: 1px;
}

.form__input input[type="radio"]:focus + label {
  border: 1px solid blue;
}


.form__input input[type="radio"]:checked + label::after {
  opacity: 1;
}

.form__input input[type="radio"] + label {
  position: relative;
  padding-left: 1.5rem;
}


.form__input input[type="radio"] + label::before {
  content: '';
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid currentColor;
  border-radius: 50%;
}

.form__input input[type="radio"] + label::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  background: currentColor;
  border-radius: 50%;
  opacity: 0;
}

.form button {
  background-color: var(--c-blue);
  color: var(--c-salmon);
  padding: 1rem;
  font-size: 1rem;
  margin-top: 2rem;
  border: none;
}



/* SWIPERRR */
.swiper {
  --swiper-theme-color: var(--c-blue);
}

.swiper-pagination-progressbar {
  background: rgba(74, 71, 255, 0.5);
}


.swiper-scrollbar { 
  background: rgba(74, 71, 255, 0.5);
}

.swiper-scrollbar-drag {
  background: rgba(74, 71, 255, 0.8);
}

.swiper-slide {
  height: 30em;
  overflow: hidden;
}

.swiper-slide img {
  width: calc(100% + 200px);
  height: 100%;
  margin-left: -100px;
  object-fit: cover;
}

.swiper-button-prev::after {
  content: unset;
}

.swiper-button-prev svg {
  transform: rotate(180deg);
}

.swiper-button-next::after {
  content: unset;
}


/* SCROLL TITLE */

.scroll-title {
  --x: 0;
  max-width: 100%;
  overflow: hidden;
}

.scroll-title h2 {
  font-size: 12vw;
  white-space: nowrap;
  padding: 4vw;
  width: max-content;
  transform: translateX(calc((-100% + 100vw) * var(--x)));
}


/* TEXT */

.xlarge-heading {
  font-size: 2rem;
  line-height: 1.25;
}

.large-heading {
  font-size: 1.5rem;
}

.medium-heading {
  font-size: 1.25rem;
}

.small-heading {
  font-size: 1.125rem;
}


.text {
  max-width: 600px;
  margin: clamp(1.5rem, calc(120 / 1440 * 100vw), 7.5rem) auto 0;
}

.text p {
  line-height: 1.5;
}

.text .large-heading + p {
  margin-top: 1em;
}

.text p + p {
  margin-top: 0.75em;
}

.text p + .button {
  margin-top: 1em;
}

.text * + .large-heading {
  margin-top: 1.5em;
}

.text .large-heading + .medium-heading {
  margin-top: 0.5em;
}

.text .medium-heading + p {
  margin-top: 1em;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  background-color: var(--c-blue);
  color: var(--c-salmon);
  border-radius: 2rem;
}


/* TEXT ANIMATION */

.text-animation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}


.text-animation h2, .text-animation span {
  font-size: 20vw;
  font-weight: 600;
} 

.text-animation span {
  position: absolute;
  -webkit-text-stroke: 1px var(--c-blue);
  text-stroke: 1px var(--c-blue);
  color: transparent;
}


/* LINKIE */

.linkie {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}

.linkie__link {
  position: relative;
  font-size: 12vw;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid currentColor;
  padding: 1vw 3vw;
  border-radius: 10vw;
}

.linkie__link::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: hotpink;
  border-radius: inherit;
  z-index: -1;
  clip-path: inset(0 100% 0 0 round 10vw);
  transition: 0.4s ease-out;
}

.linkie__link:hover::before {
  clip-path: inset(0 0 0 0 round 10vw);

}

.linkie__fake-text {
  position: absolute;
  right: 3vw;
  color: hotpink;
}


/* FOOTOR */

.footer {
  width: 100%;
  margin-top: 5rem;
  background-color: var(--c-blue);
  border-radius: 2.5rem 2.5rem 0 0;
}

.footer__top {
  padding: 3.75rem clamp(1.5rem, calc(120 / 1440 * 100vw), 7.5rem) 1.5rem;
  color: var(--c-salmon);
}

.footer__top-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
}

.footer__top-bottom .footer__item {
  font-weight: 800;
  letter-spacing: -0.04em;
  font-size: 1.5rem;
}

.footer__bottom .footer__item {
  font-weight: 400;
  letter-spacing: -0.04em;
  font-size: 1.5rem;
  line-height: 1;
}

.footer__bottom {
  padding: 1.5rem clamp(1.5rem, calc(120 / 1440 * 100vw), 7.5rem);
  border-radius: 2.5rem 2.5rem 0 0;
  background-color: var(--c-salmon);
}

.footer__bottom .footer__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__list {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 2.5rem;
}

.footer__link {
  text-decoration: none;
}


/* ABOUT PAGE */
.clip-header {
  --progress: 1;
  position: relative;
  width: 100%;
  padding-bottom: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -100vh;
  clip-path: inset(0 0 50%);
}

.clip-header__background-clip {
  position: absolute;
  inset: 0;
  clip-path: inset(calc(var(--progress) * 10%) calc(var(--progress) * 10%) 0);
}

.clip-header__background-clip img {
  transform-origin: center bottom;
  position: sticky;
  top: 0;
  margin-top: -100vh;
}

.clip-header img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}


.clip-header__foreground-clip img {
  height: 50vw;
  transform: translateY(-5vw);
}

.clip-header__foreground-clip {
  position: relative;
  width: 30vw;
  height: 40vw;
  clip-path: inset(calc((1 - var(--progress)) * 5%));
}


