:root {
  --c-salmon: #FFC48F;
  --c-blue: #4A46FF;
  --bezier: cubic-bezier(0.17, 0.67, 0, 1);
}

.sr-only {
  position: absolute;
  text-indent: -9999px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  color: inherit;
}

h1 span,
h1 a,
h2 span,
h2 a,
h3 span,
h3 a,
h4 span,
h4 a,
h5 span,
h5 a,
h6 span,
h6 a,
p span,
p a,
a span,
a a,
li span,
li a {
  font-family: inherit;
  color: inherit;
}

@import url("https://rsms.me/inter/inter.css");

* {
  box-sizing: border-box;
  margin: 0;
}

*,
body {
  font-family: Inter-Variable, sans-serif;
}

body {
  background-color: var(--c-salmon);
  color: var(--c-blue);
  transition: background 0.4s ease-out, color 0.4s ease-out; 
}

body.extra-contrast {
  --c-salmon: hotpink;
  --c-blue: #010101;
}

body.extra-contrast .header__contrast-trigger svg {
  transform: rotate(180deg);
}

/* CURSOR */
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  background: var(--c-blue);
  z-index: 10;
  transition: transform 0.2s var(--bezier);
  pointer-events: none;
}
@media (max-width: 750px) {
  .cursor {
    display: none;
  }
}

/* HEADER */
.header {
  width: 100%;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.125rem clamp(1.5rem, calc(120 / 1440 * 100vw), 7.5rem);
}

.header__trigger {
  position: fixed;
  top: 1.125rem;
  right: 1.5rem;
  z-index: 11;

  background: none;
  border: none;
  color: inherit;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  display: none;
}

@media (max-width: 750px) {
  .header__trigger {
    display: block;
  }
}

.header__trigger span {
  position: absolute;
  display: block;
  width: 1.5rem;
  height: 1px;
  background-color: currentColor;
  top: 8px;
  transition: top 0.3s 0.3s ease-out, transform 0.3s ease-out, color 0.3s 0.3s ease-out;
}

.header__trigger span:last-child {
  top: 12px;
}

.header__trigger.is-open {
  color: var(--c-salmon);
}

.header__trigger.is-open span {
  top: 10px;
  transform: rotate(45deg);
  transition: top 0.3s ease-out, transform 0.3s 0.3s ease-out, color 0.3s ease-out;
}

.header__trigger.is-open span:last-child {
  top: 10px;
  transform: rotate(-45deg);

}

.header__list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
}

@media (max-width: 750px) {
  .header__list {
    position: fixed;
    z-index: 10;
    inset: 0;
    background-color: var(--c-blue);
    color: var(--c-salmon);
    flex-direction: column;
    padding: 8rem 1.5rem;
    transform: translateY(-101%);
    transition: transform 0.6s ease-out;
  }
  .header__list.is-open {
    transform: translate(0);
  }
}

.header__item {
  font-weight: 800;
  letter-spacing: -0.04em;
  font-size: 1.5rem;
}

.header__link {
  text-decoration: none;
}

.header__contrast-trigger {
  background: none;
  border: none;
  cursor: pointer;
}

.header__contrast-trigger svg {
  fill: var(--c-blue);
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.4s ease-out;
}

/* PAGE HEADER */
.page-header {
  width: 100%;
  padding: 1.25rem clamp(1.5rem, calc(120 / 1440 * 100vw), 7.5rem) 0;
}

.page-header__image {
  position: relative;
  width: 100%;
  height: 32.5rem;
  /* 520px */
  border-radius: 1.5rem;
  overflow: hidden;
}

.page-header__title {
  position: relative;
  z-index: 1;
  background: var(--c-salmon);
  padding: 1.5rem 5rem 1.5rem 2.5rem;
  width: max-content;
  border-radius: 0 0 1.5rem 0;
}

.page-header__title::before {
  content: '';
  position: absolute;
  /* background-color: hotpink; */
  width: 1.5rem;
  height: 1.5rem;
  top: 0;
  right: -1.5rem;
  border-radius: 50%;
  /* box-shadow: -1rem -1rem 0 0 var(--c-salmon); */
  box-shadow: -0.75rem -0.75rem 0 0 var(--c-salmon);
}

.page-header__title h1 {
  width: 22.5rem;
  font-weight: 800;
  letter-spacing: -0.04em;
  font-size: 3rem;
}

.page-header__title h2 {
  font-size: 0.875rem;
  letter-spacing: -0.04em;
}

.page-header__image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-header__description {
  margin: 1.5rem 1.5rem 0;
  width: 26.25rem;
  letter-spacing: -0.04em;
}

@media (max-width: 750px) {
  .page-header__description {
    width: 100%;
  }
}


/* TEXT WITH IMAGE */
.text-with-image {
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem clamp(1.5rem, calc(120 / 1440 * 100vw), 7.5rem) 0;
}

.text-with-image h2 {
  font-size: clamp(2rem, calc(40 / 1440 * 100vw), 2.5rem)
}

.text-with-image__image {
  width: 50%;
  aspect-ratio: 1;
  flex-grow: 1;
}

.text-with-image__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}

.text-with-image__text {
  width: 50%;
  padding: clamp(1.5rem, calc(40 / 1440 * 100vw), 2.5rem);
  flex-grow: 1;
  min-width: 300px;
}

/* FOOTOR */

.footer {
  width: 100%;
  margin-top: 5rem;
  background-color: var(--c-blue);
  border-radius: 2.5rem 2.5rem 0 0;
}

.footer__top {
  padding: 3.75rem clamp(1.5rem, calc(120 / 1440 * 100vw), 7.5rem) 1.5rem;
  color: var(--c-salmon);
}

.footer__top-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
}

.footer__top-bottom .footer__item {
  font-weight: 800;
  letter-spacing: -0.04em;
  font-size: 1.5rem;
}

.footer__bottom .footer__item {
  font-weight: 400;
  letter-spacing: -0.04em;
  font-size: 1.5rem;
  line-height: 1;
}

.footer__bottom {
  padding: 1.5rem clamp(1.5rem, calc(120 / 1440 * 100vw), 7.5rem);
  border-radius: 2.5rem 2.5rem 0 0;
  background-color: var(--c-salmon);
}

.footer__bottom .footer__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__list {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 2.5rem;
}

.footer__link {
  text-decoration: none;
}